<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter</title>
    <link rel="stylesheet" href="../css/connexion.css">
    <script src="../js/connexion.js"></script>
</head>
<body>
    <div class="wrapper">
        <form class="login">
          <p class="title">Se connecter</p>
          <input type="text" placeholder="Pseudo" autofocus/>
          <i class="fa fa-user"></i>
          <input type="password" placeholder="Mot de passe" />
          <i class="fa fa-key"></i>
          <a href="#">Mot de passe oublié ?</a>
          <button>
            <i class="spinner"></i>
            <span class="state">Se connecter</span>
          </button>
        </form>
      </div>
</body>
</html>